/* 1. ELEMENT-SELECTOR */

body {
  font-family: Arial, sans-serif;
  color: #333;
}


/* 2. ELEMENT-SELECTOR */
h1 {
  color: #1b1f3b;
}


/* 3. HÓPUN (grouping) */
h1, h2 {
  font-family: Georgia, serif;
}


/* 4. CLASS-SELECTOR */
.inngangur {
  font-style: italic;
  font-size: 20px;
}


/* 5. CLASS-SELECTOR */
.mikilvaegt {
  font-weight: bold;
  color: #c2571a;
}


/* 6. ID-SELECTOR */
#abending {
  background-color: #fff4cc;
}


/* 7. MARGIR KLASAR */
.smatt {
  font-size: 14px;
  color: #777;
}


/* 8. TILRAUN – universal-selector */
/* * {
  color: red;
} */
